.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.hov-primary {
  transition: all 0.2s ease-in-out;
}
.hov-primary:hover {
  background-color: #0d6efd;
  color: white !important;
  cursor: pointer;
  /* color: var(--bs-btn-bg); */
}
.bg-gray-100 {
  background-color: #f8f9fa;
}
a {
  text-decoration: none;
  color: black;
}
aside li {
  list-style: none;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
.full-height-overflow {
  height: 100vh;
  overflow: auto;
}
